@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #0d0d0d;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.mainContainer{
  width: 80%;
  height: auto;
  margin: 0 auto;
}

